footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  footer nav ul {
    list-style: none;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  footer {
    background-color: #800020;
    padding: 20px;
    text-align: center;
    color: #BAB4B4;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 40%;
  }